$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/variables.scss';

.main-container {
  // position: relative;
}

.toolbox-position-container {
  position: absolute;
  right: 50%;
  top: 95px;
}

.toolbox-button {
  
}

.toolbox {
  position: relative;
  width: 18rem;
  height: 500px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(100,100,100, 0.20);
  padding: 10px;
}

.toolbox-header {
  height: 36px;
  padding: 2px;
  position: relative;
}

.lt-title {
  text-transform: uppercase;
}

@media (min-width: map_get($grid-breakpoints, "xs")) {
  .toolbox-position-container { margin-right: - map_get($container-max-widths, 'sm') / 2 + 15}
}
@media (min-width: map_get($grid-breakpoints, "sm")) {
  .toolbox-position-container { margin-right: - map_get($container-max-widths, 'sm') / 2 + 15}
}
@media (min-width: map_get($grid-breakpoints, "md")) {
  .toolbox-position-container { margin-right: - map_get($container-max-widths, 'md') / 2 + 15}
}
@media (min-width: map_get($grid-breakpoints, "lg")) {
  .toolbox-position-container { margin-right: - map_get($container-max-widths, 'lg') / 2 + 15}
}
@media (min-width: map_get($grid-breakpoints, "xl")) {
  .toolbox-position-container { margin-right: - map_get($container-max-widths, 'xl') / 2 + 15}
}
/* 
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
*/