@import 'theme.scss';

.btn {
  display: flex;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $hover;
  }
  &:active {
    background-color: $active;
  }
  svg {
    display: block;
  }
}