@import '~bootstrap/scss/bootstrap.scss';
@import './../../lightTheme.scss';

.lt-close-button {
  width: 30px;
  height: 30px;
  border-radius:15px;
  text-align: center;
  line-height:28px;
  &:hover {
    background-color: $hoverColor;
  }
  &:active {
    background-color: $activeColor;
  }
}