@import 'theme.scss';
$footer-base-height: 4rem;


.footer {
  background-color: #333;
  position: fixed;
  bottom:0;
  width: 100%;
  height: $footer-base-height;
}

.center {
  max-width: 1100px;
  margin: 0 auto;
}
.text {
  color: $text-light;
  line-height: $footer-base-height;
}