@import './../../theme.scss';

.searchNav {
  width: 3rem;
  height: 3rem;
  // padding: 0 0.5rem 0.3rem .5rem;
  display: flex;
  justify-content: center;
  margin: 0.5rem 1rem;
  border-radius: 1.5rem;

  svg {
    display: block;
    align-self: center;
  }
  &:hover {
    background-color: $hover;
  }
}