@import '~bootstrap/scss/bootstrap.scss';
@import './../../theme.scss';
// light Theme (lt)

.table thead th {
	color: $gray3;
	font-weight: 500;
}
.table .date {
    white-space: nowrap;
}


//TODO could be in general styles
svg.lt-icon {
	display: inline-block;
	width: 1em;
    height: 1em;
    position: relative;
}
svg.lt-arrow-down {
    bottom: 1px;
}
svg.lt-arrow-up {
    bottom: 2px;
}

th {
    &:hover {
        background-color: #efefef;
        .lt-icon {
            visibility: visible;
        }
    }
    &:active {
        background-color: #ccc;
    }
    .lt-icon {
        visibility: hidden;
    }
}

th.active .lt-icon {
	visibility: visible;
}
