// Override default variables before the import
@import './theme.scss';
// Import Bootstrap and its default variables
// @import '~bootstrap/scss/bootstrap.scss';
@import './wp.scss';


#mount {
    // position: absolute;
    // bottom:0;
    // top: 56px;
}

.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
.main-container {
    margin-top: 80px;
    margin-bottom: 100px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $gray1;
}
