$body-bg: #fff;
$box-bg: #fff;
$gray1: #333;
$gray3: #828282;
$near-black: #090401;
$btn-bg: #fff;
$hover-color: #efefef;
$active-color: #dfdfdf;
$pastell: #DAD3CC;
$hover: #efefef;
$active: #dfdfdf;
$inactive: #7D7D7D;

$text-color: #090401;
$text-gray: $gray3;
$text-light: #fff;
$link-color: #3B2618;
$link-light: #C3AB8D;

$border-color: $gray3;
$radius: 3px;

$max-width: 1920px;
$margin-side: 20px;
$footer-base-height: 4rem;
