$body-bg: #fff;
$gray1: #333;
$gray3: #828282;
$hoverColor: #efefef;
$activeColor: #dfdfdf;
$pastell: #DAD3CC; 


$font-size: 62.5%; /* font-size 1em = 10px on default browser settings */ 
$font-family-base: 'Roboto', sans-serif !important;