$body-bg: #fff;
$gray1: #333;
$gray3: #828282;
$hoverColor: #efefef;
$activeColor: #dfdfdf;
$pastell: #DAD3CC;
$hover:#efefef;

$text-color:#090401;
$text-light:#fff;
$link-color:#3B2618;
$link-light:#C3AB8D;


$max-width:1920px;
$margin-side:20px;
